body {
  background: white;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

.sans {
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  background: #3D3D3D;
  height: 100vh;
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-align: left;
  width: 100%;
  margin-bottom: 0;
}

.intro {
  padding-top: 10%;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
}

span.highlight {
  background-color: #7DF9FF;
  color: black;
}

span.purple {
  color: #997FEF;
}

span.pink {
  color: #EF53D8;
}

span.gray {
  color: #C5C5C5;
}

.more {
  margin-top: 8em;
}

.navbar-inverse {
  background-color: #3D3D3D;
  border: none;
}

.navbar {
  border-radius: 0;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li> a {
  color: #7DF9FF;
}

.navbar-inverse .navbar-nav > li> a:hover {
  background-color: #7DF9FF;
  color: black;
}

.container-fluid.dark {
  background: #3D3D3D;
  color: white;
}

p.lead {
  margin-top: 2em;
  font-size: 1.8em;
  text-align: center;
}

span.pink-underline {
  border-bottom: 2px solid #EF53D8;
}

span.blue-underline {
  border-bottom: 2px solid #7DF9FF;
}

.project-title {
  margin-top: 0;
}

.container.work {
  width: 60%;
}